/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --button-color: #406882;
}

/* common style  */
body {
    font-family: 'Poppins', sans-serif;
}

/* header style  */
header {
    background-color: #1A374D;
    color: #EEEEEE;
}

/* main section style  */


.input-content {
    width: 50%;
}

.btn-color {
    background-color: var(--button-color);
    color: #EEEEEE;
    font-weight: 400;
    border: 1px solid var(--button-color);
}

.btn-color:hover {
    background-color: white;
    color: var(--button-color);

}

/* detail info section style*/
.detail-info {
    width: 75%;
}

.snipper-content {
    display: none;
}

/* responsive for mobile  */

@media screen and (max-width: 540px) {
    .input-content {
        width: 75%;
    }

    .detail-info {
        width: 100%;
    }
}